<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- La cdn de vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue@latest"></script>
    <script src="https://unpkg.com/vue-select@latest"></script>
    <!--#########################-->
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Colegio ITEY</title>

    <!-- Favicon -->
    <link rel="icon" href="img/school-images/escudo.png">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
<!-- ##### Preloader ##### -->
<div id="preloader">
    <i class="circle-preloader"></i>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">

    <!-- Top Header Area -->
    <div class="top-header">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <div class="header-content h-100 d-flex align-items-center justify-content-between">
                        <div class="academy-logo">
                            <a href="index.html"><img src="img/school-images/logo1.png" width="20%" alt=""></a>
                        </div>
                        <div class="login-content">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar Area -->
    <div class="academy-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->

                <nav class="classy-navbar justify-content-between" id="academyNav">

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <img src="./img/icons/inicio.png" width="2%" class="iconos-ocultos" alt="">
                                <li><a href="index.html">Inicio</a></li>
                                <img src="./img/icons/INSTITUCIONAL.png" alt="" class="iconos-ocultos" width="3%" style="margin-left: 2%; ">
                                <li><a href="index.html"> Institucional</a></li>
                                <li><a href="#">Jornada escolar</a>
                                    <ul class="dropdown">
                                        <li><a href="index.html">Primaria</a></li>
                                        <li><a href="about-us.html">Secundaria</a></li>
                                        <li><a href="course.html">Complementaria</a></li>
                                        <li><a href="blog.html">Media técnica</a></li>
                                        <li><a href="contact.html">Preescolar</a></li>
                                    </ul>
                                </li>

                                <li><a href="about-us.html">Zona rápida</a>

                                    <ul class="dropdown">
                                        <li><a href="./voting.html">Votaciones</a></li>
                                        <li><a href="./votingAdmin.html">Administrador</a></li>
                                    </ul>

                                </li>


                                <li><a href="contact.html">Contactenos</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>

                    <!-- Calling Info -->
                    <!--<div class="calling-info">-->
                    <!--<div class="call-center">-->
                    <!--<a href="tel:+654563325568889"><i class="icon-telephone-2"></i> <span>(+65) 456 332 5568 889</span></a>-->
                    <!--</div>-->
                    <!--</div>-->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <h2>Votaciones 2019</h2>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<section style="margin-bottom: 10%">

</section>

<!-- ##### About Us Area End ##### -->
<!--TODO seguir con el formulario para ingresar candidatos-->
<div id="swap" style="padding: 0 25% 5% 25%">
    <section style=" width: 100%; " id="candidates" >
        <article >
            <h2>Agregar candidato </h2>
            <form action="" v-on:submit.prevent="add">
                <div class="form-group">
                    <label for="tipoDocumento">Tipo de documento</label>
                    <v-select :options="tiposDocumento" v-model="candidato.tipoDocumento"></v-select>
                </div>
                <div class="form-group">
                    <label for="documento">Documento</label>
                    <input type="number" class="form-control" id="documento" v-model="candidato.documento">
                </div>
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" id="name" v-model="candidato.nombre">
                </div>
                <div class="form-group">
                    <label for="cargo">Cargo</label>
                    <v-select :options="cargos" v-model="candidato.cargo" id="cargo"></v-select>
                    <!--<select name="cargo" id="cargo" class="form-control">-->
                    <!--<option value="1"></option>-->
                    <!--</select>-->
                </div>
                <div class="form-group" >
                    <label for="grado" > Grado y curso</label>
                    <v-select :options="grados" v-model="candidato.grado" id="grado"></v-select>
                </div>
                <div class="form-group">
                    <label for="jornada">Jornada</label>
                    <v-select :options="jornadas" v-model="candidato.jornada"></v-select>
                </div>
                <div class="form-group">
                    <label for="">Fotografia</label>
                    <input type="file"  ref="imagenCandidato" @change="onFileChange" accept="image/png" class="form-control" id="imagenCandidato"  data-validate="Anexe imagen del candidato">
                    <img :src="image">
                </div>
                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
            <h2>Listado de candidatos</h2>
            <table class="table" id="listado" style="width: 100%">
                <tr>
                    <th>Identificación</th>
                    <th>Nombre</th>
                    <th>Grado</th>
                    <th>Jornada</th>
                    <th>Cargo</th>
                    <th>Imagen</th>
                    <th>Opciones</th>
                </tr>
                <tr v-for="candidato in candidate">
                    <td>{{candidato.documento}}</td>
                    <td>{{candidato.nombre}}</td>
                    <td>{{candidato.grado}}/{{candidato.curso}}</td>
                    <td>{{candidato.jornada}}</td>
                    <td>{{candidato.nombreCargo}}</td>
                    <td><img  v-bind:src="candidato.imagen" /></td>
                    <td>
                        <button @click="editar(candidato)" type="button" class="btn btn-warning" >Editar</button>
                        <button @click="eliminar(candidato)" type="button" class="btn btn-danger" >Eliminar</button>

                    </td>
                </tr>
            </table>
        </article>
    </section>

</div>

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <div class="main-footer-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <a href=""><h3 STYLE="color: white;">Colegio ITEY</h3></a>
                        </div>
                        <p>Cras vitae turpis lacinia, lacinia lacus non, fermentum nisi. Donec et sollicitudin est, in euismod erat. Ut at erat et arcu pulvinar cursus a eget.</p>
                        <div class="footer-social-info">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <h6>Enlaces útiles</h6>
                        </div>
                        <nav>
                            <ul class="useful-links">
                                <li><a href="#">Inicio</a></li>
                                <li><a href="#">Servicios</a></li>
                                <li><a href="#">Academico</a></li>
                                <li><a href="#">Contacto</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <h6>Galería</h6>
                        </div>
                        <div class="gallery-list d-flex justify-content-between flex-wrap">
                            <a href="img/bg-img/gallery1.jpg" class="gallery-img" title="Gallery Image 1"><img src="img/bg-img/gallery1.jpg" alt=""></a>
                            <a href="img/bg-img/gallery2.jpg" class="gallery-img" title="Gallery Image 2"><img src="img/bg-img/gallery2.jpg" alt=""></a>
                            <a href="img/bg-img/gallery3.jpg" class="gallery-img" title="Gallery Image 3"><img src="img/bg-img/gallery3.jpg" alt=""></a>
                            <a href="img/bg-img/gallery4.jpg" class="gallery-img" title="Gallery Image 4"><img src="img/bg-img/gallery4.jpg" alt=""></a>
                            <a href="img/bg-img/gallery5.jpg" class="gallery-img" title="Gallery Image 5"><img src="img/bg-img/gallery5.jpg" alt=""></a>
                            <a href="img/bg-img/gallery6.jpg" class="gallery-img" title="Gallery Image 6"><img src="img/bg-img/gallery6.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <h6>Contacto</h6>
                        </div>
                        <div class="single-contact d-flex mb-30">
                            <i class="icon-placeholder"></i>
                            <p>Carrera 21 No 39 05</p>
                        </div>
                        <div class="single-contact d-flex mb-30">
                            <i class="icon-telephone-1"></i>
                            <p>Telefonos <br> 6343559</p>
                        </div>
                        <div class="single-contact d-flex">
                            <i class="icon-contract"></i>
                            <p>colegioitey@itey.edu.co</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- ##### Footer Area Start ##### -->

<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>
<script src="https://unpkg.com/vue@latest"></script>
<script src="https://unpkg.com/vue-select@latest"></script>
<script src="js/candidatos.js"></script>
<script>

</script>
<style>

</style>
</body>

</html>