<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- La cdn de vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue@latest"></script>

    <!-- Title -->
    <title>Colegio ITEY</title>

    <!-- Favicon -->
    <link rel="icon" href="img/school-images/escudo.png">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
<!-- ##### Preloader ##### -->
<div id="preloader">
    <i class="circle-preloader"></i>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">

    <!-- Top Header Area -->
    <div class="top-header">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <div class="header-content h-100 d-flex align-items-center justify-content-between">
                        <div class="academy-logo">
                            <a href="index.html"><img src="img/school-images/logo1.png" width="20%" alt=""></a>
                        </div>
                        <div class="login-content">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar Area -->
    <div class="academy-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->

                <nav class="classy-navbar justify-content-between" id="academyNav">

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <img src="./img/icons/inicio.png" width="2%" class="iconos-ocultos" alt="">
                                <li><a href="index.html">Inicio</a></li>
                                <img src="./img/icons/INSTITUCIONAL.png" alt="" class="iconos-ocultos" width="3%" style="margin-left: 2%; ">
                                <li><a href="index.html"> Institucional</a></li>
                                <li><a href="#">Jornada escolar</a>
                                    <!--<div class="megamenu">-->
                                    <!--<ul class="single-mega cn-col-4">-->
                                    <!--<li><a href="#">Home</a></li>-->
                                    <!--<li><a href="#">Services &amp; Features</a></li>-->
                                    <!--<li><a href="#">Accordions and tabs</a></li>-->
                                    <!--<li><a href="#">Menu ideas</a></li>-->
                                    <!--<li><a href="#">Students Gallery</a></li>-->
                                    <!--</ul>-->
                                    <!-- <ul class="single-mega cn-col-4">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Services &amp; Features</a></li>
                                        <li><a href="#">Accordions and tabs</a></li>
                                        <li><a href="#">Menu ideas</a></li>
                                        <li><a href="#">Students Gallery</a></li>
                                    </ul>
                                    <ul class="single-mega cn-col-4">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Services &amp; Features</a></li>
                                        <li><a href="#">Accordions and tabs</a></li>
                                        <li><a href="#">Menu ideas</a></li>
                                        <li><a href="#">Students Gallery</a></li>
                                    </ul> -->
                                    <!--<div class="single-mega cn-col-4">-->
                                    <!--<img src="img/bg-img/bg-1.jpg" alt="">-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <ul class="dropdown">
                                        <li><a href="index.html">Primaria</a></li>
                                        <li><a href="about-us.html">Secundaria</a></li>
                                        <li><a href="course.html">Complementaria</a></li>
                                        <li><a href="blog.html">Media técnica</a></li>
                                        <li><a href="contact.html">Preescolar</a></li>
                                    </ul>
                                </li>

                                <li><a href="about-us.html">Zona rápida</a>

                                    <ul class="dropdown">
                                        <li><a href="./voting.html">Votaciones</a></li>
                                        <li><a href="./votingAdmin.html">Administrador</a></li>
                                    </ul>

                                </li>

                                <!-- <li><a href="#">Primaria</a>
                                    <ul class="dropdown">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="course.html">Course</a></li>
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><a href="elements.html">Elements</a></li>
                                    </ul>
                                </li> -->
                                <!--<li><a href="course.html">Course</a></li>-->
                                <li><a href="contact.html">Contactenos</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>

                    <!-- Calling Info -->
                    <!--<div class="calling-info">-->
                    <!--<div class="call-center">-->
                    <!--<a href="tel:+654563325568889"><i class="icon-telephone-2"></i> <span>(+65) 456 332 5568 889</span></a>-->
                    <!--</div>-->
                    <!--</div>-->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <h2>Votaciones 2019</h2>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### About Us Area Start ##### -->
<div id="app">
<section class="about-us-area mt-50 section-padding-100" id="ingreso">
    <div class="container" style="padding-right: 10%">
        <span style="font-size: 1.5em; text-align: justify; " >A continuación podrá encontrar el formulario para ejercer su derecho al voto, para lo cual debe proporcionar la información solicitada en el siguiente formulario</span>
    </div>

    <form action="" id="formulario" class="form-control col-md-6" v-on:submit.prevent="query"  >
        <h2 style="text-align: center">Ingrese sus datos</h2>
        <div class="form-group">
            <label for="">Tipo de documento</label>
            <select name="" class="custom-select" id="tipoDocumento" required v-model="votante.tipoDocumento">
                <option value="1">Registro civil</option>
                <option value="2">Tarjeta de identidad</option>
                <option value="3">Cedula</option>
                <option value="4">Documento de extranjería</option>
            </select>
        </div>
        <div class="form-group ">
            <label for="exampleInputEmail1">Numero de documento</label>
            <input type="number" class="form-control" id="numeroDocumento" aria-describedby="emailHelp" placeholder="Ingrese su numero de documento" required v-model="votante.documento">
            
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Fecha de nacimiento</label>
            <input type="date" class="form-control"  id="fechaNacimiento" placeholder="Fecha de nacimiento" required v-model="votante.fechaNacimiento">
        </div>

        <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>
</section>
<!-- ##### About Us Area End ##### -->
<section class="teachers-area section-padding-0-100">
    <form action="" id="formularioVotacion" class="formulario" style=" margin-top: 10%" v-if="candidatosPersoneria.length >0" v-on:submit.prevent="votaPersonero" >
    <div class="container">
        <div class="row">
            <h4 STYLE="margin-top: 1%" v-if="codigo == '101'">Bienvenido(a) {{votante.nombre}}</h4>
            <h4 style="margin-top: 1%;" v-else>Bienvenido(a) {{votante.nombre}}  </h4>

            <h4 style="margin-top: 1%; width: 100%" >  Grado {{votante.grado}}</h4>
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <span v-if="codigo == '101'">Escoja su candidato a personería</span>
                    <span v-else>Escoja su candidato a representante de maestros</span>
                    <h3 v-if="codigo == '101'">Grado 11</h3>

                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <!-- Personeros-->
            <div v-if="candidatosPersoneria.length === 0">

            </div>
            <div class="col-12 col-sm-6 col-lg-3 card" v-for="datar in candidatosPersoneria">
                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="400ms">
                    <!-- Thumbnail -->
                    <div class="teachers-thumbnail">
                        <img  v-bind:src="datar.imagen" alt="imagen Candidato" />

                    </div>
                    <!-- Meta Info -->
                    <div class="teachers-info mt-30">
                        <h5>{{datar.nombre}}</h5>
                        <span v-if="datar.nombre !== 'VOTO EN BLANCO'">Estudiante {{datar.grado}} {{datar.curso}}</span>
                        <span><h4>{{datar.tarjeton}}</h4></span>
                    </div>

                    <input type="radio" id="candidato" v-model="votoPersonero" v-bind:value="datar.documento" name="subject" class="subject-list">
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="view-all text-center wow fadeInUp" data-wow-delay="800ms">
                    <input type="submit" CLASS="btn btn-info col-md-6" value="VOTAR" >
                </div>
            </div>
        </div>
    </form>
            <!--TODO Seguir con representantes mañana con iteraciones de vue-->

    <form action="" id="formRepre" style=" margin-top: 10%" v-if="candidatosRepresentante.length >0" v-on:submit.prevent="votaRepresentante" >
    <div class="container">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <span v-if="candidatosRepresentante.length > 0">Escoja su candidato a representante</span>
                    <h3 v-if="candidatosRepresentante.length > 0">Del grado: {{votante.grado}}</h3>
                </div>
            </div>
            <div v-if="candidatosRepresentante.length === 0">

            </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3 card" v-for="dat in candidatosRepresentante">
                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="400ms">
                    <!-- Thumbnail -->
                    <div class="teachers-thumbnail">
                        <img  v-bind:src="dat.imagen" alt="imagen Candidato" />

                    </div>
                    <!-- Meta Info -->
                    <div class="teachers-info mt-30">
                        <h5>{{dat.nombre}}</h5>
                        <div v-if="dat.nombre !== 'VOTO EN BLANCO'">Estudiante {{dat.grado}} {{dat.curso}}</div>
                    </div>

                    <input type="radio" id="" name="subject" class="subject-list">
                </div>
            </div>
        </div>
        </div>

        <div class="row" v-if="candidatosRepresentante.length > 0">
            <div class="col-12">
                <div class="view-all text-center wow fadeInUp" data-wow-delay="800ms">
                    <input type="submit" CLASS="btn btn-info col-md-6" value="VOTAR" >
                </div>
            </div>
        </div>
        </form>

    <form action="" id="formuProfes" class="formulario" style=" margin-top: 10%" v-if="candidatosDocente.length >0" v-on:submit.prevent="votaDocente">
        <div class="container">
            <div class="row">
                <h4 STYLE="margin-top: 1%" v-if="codigo == '102'">Bienvenido(a) {{votante.nombre}}</h4>
                <h4 style="margin-top: 1%" v-else>Bienvenido(a) {{votante.nombre}}</h4>
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        <span v-if="codigo == '101'">Escoja su candidato a personería</span>
                        <span v-else>Escoja su candidato a representante de maestros</span>
                        <h3 v-if="codigo == '101'">Grado 11</h3>

                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <!-- Personeros-->

                <div class="col-12 col-sm-6 col-lg-3 card" v-for="dot in candidatosDocente">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="400ms">
                        <!-- Thumbnail -->
                        <div class="teachers-thumbnail">
                            <!--<img  v-bind:src="'/img/school-images/'+ dot.imagen" alt="imagen Candidato" />-->
                            <img v-bind:src="dot.imagen"/>


                        </div>
                        <!-- Meta Info -->
                        <div class="teachers-info mt-30">
                            <h5>{{dot.nombre}}</h5>
                            <span v-if="datar.nombre !== 'VOTO EN BLANCO'">DOCENTE</span>
                            <span><b></b></span>
                        </div>

                        <input type="radio" id="candidato" name="subject" class="subject-list">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="view-all text-center wow fadeInUp" data-wow-delay="800ms">
                    <input type="submit" CLASS="btn btn-info col-md-6" value="VOTAR" >
                </div>
            </div>
        </div>
    </form>




</section>
<!-- ##### Team Area Start ##### -->
</div>
<!--<section class="teachers-area section-padding-0-100">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-12">-->
<!--                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">-->
<!--                    <span>The Best</span>-->
<!--                    <h3>Meet the Teachers</h3>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!---->
<!--        <div class="row">-->
<!--
           <div class="col-12 col-sm-6 col-lg-3">-->
<!--                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="400ms">-->
<!--
               <div class="teachers-thumbnail">-->
<!--                        <img src="img/bg-img/tea1.jpg" alt="">-->
<!--                    </div>-->
<!--
                   <div class="teachers-info mt-30">-->
<!--                        <h5>Maria D. Smith</h5>-->
<!--                        <span>Marketing Proffesor</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--
          <div class="col-12 col-sm-6 col-lg-3">-->
<!--                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">-->
<!--                    Thumbnail -->
<!--                    <div class="teachers-thumbnail">-->
<!--                        <img src="img/bg-img/tea2.jpg" alt="">-->
<!--                    </div>-->
<!--                     Meta Info -->
<!--                    <div class="teachers-info mt-30">-->
<!--                        <h5>Simon Duval</h5>-->
<!--                        <span>Digital Proffesor</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--             Single Teachers -->
<!--            <div class="col-12 col-sm-6 col-lg-3">-->
<!--                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="600ms">-->
<!--                    Thumbnail -->
<!--                    <div class="teachers-thumbnail">-->
<!--                        <img src="img/bg-img/tea3.jpg" alt="">-->
<!--                    </div>-->
<!--                     Meta Info -->
<!--                    <div class="teachers-info mt-30">-->
<!--                        <h5>James Hogan</h5>-->
<!--                        <span>HTML Proffesor</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            Single Teachers -->
<!--            <div class="col-12 col-sm-6 col-lg-3">-->
<!--                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="700ms">-->
<!--
                <div class="teachers-thumbnail">-->
<!--                        <img src="img/bg-img/tea4.jpg" alt="">-->
<!--                    </div>-->
<!--
                  <div class="teachers-info mt-30">-->
<!--                        <h5>Claudia Williams</h5>-->
<!--                        <span>Marketing Proffesor</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!---->
<!--        <div class="row">-->
<!--            <div class="col-12">-->
<!--                <div class="view-all text-center wow fadeInUp" data-wow-delay="800ms">-->
<!--                    <a href="#" class="btn academy-btn">All Teachers</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- ##### Features Area Start ##### -->

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <div class="main-footer-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <a href=""><h3 STYLE="color: white;">Colegio ITEY</h3></a>
                        </div>
                        <p>Cras vitae turpis lacinia, lacinia lacus non, fermentum nisi. Donec et sollicitudin est, in euismod erat. Ut at erat et arcu pulvinar cursus a eget.</p>
                        <div class="footer-social-info">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <h6>Enlaces útiles</h6>
                        </div>
                        <nav>
                            <ul class="useful-links">
                                <li><a href="#">Inicio</a></li>
                                <li><a href="#">Servicios</a></li>
                                <li><a href="#">Academico</a></li>
                                <li><a href="#">Contacto</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <h6>Galería</h6>
                        </div>
                        <div class="gallery-list d-flex justify-content-between flex-wrap">
                            <a href="img/bg-img/gallery1.jpg" class="gallery-img" title="Gallery Image 1"><img src="img/bg-img/gallery1.jpg" alt=""></a>
                            <a href="img/bg-img/gallery2.jpg" class="gallery-img" title="Gallery Image 2"><img src="img/bg-img/gallery2.jpg" alt=""></a>
                            <a href="img/bg-img/gallery3.jpg" class="gallery-img" title="Gallery Image 3"><img src="img/bg-img/gallery3.jpg" alt=""></a>
                            <a href="img/bg-img/gallery4.jpg" class="gallery-img" title="Gallery Image 4"><img src="img/bg-img/gallery4.jpg" alt=""></a>
                            <a href="img/bg-img/gallery5.jpg" class="gallery-img" title="Gallery Image 5"><img src="img/bg-img/gallery5.jpg" alt=""></a>
                            <a href="img/bg-img/gallery6.jpg" class="gallery-img" title="Gallery Image 6"><img src="img/bg-img/gallery6.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="footer-widget mb-100">
                        <div class="widget-title">
                            <h6>Contacto</h6>
                        </div>
                        <div class="single-contact d-flex mb-30">
                            <i class="icon-placeholder"></i>
                            <p>Carrera 21 No 39 05</p>
                        </div>
                        <div class="single-contact d-flex mb-30">
                            <i class="icon-telephone-1"></i>
                            <p>Telefonos <br> 6343559</p>
                        </div>
                        <div class="single-contact d-flex">
                            <i class="icon-contract"></i>
                            <p>colegioitey@itey.edu.co</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- ##### Footer Area Start ##### -->

<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>
<script src="js/main.js"></script>
<script>
</script>

</body>

</html>