<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Colegio ITEY</title>

    <!-- Favicon -->
    <link rel="icon" href="../img/school-images/escudo.png">
    <link href="./../css/font-awesome.min.css" rel="stylesheet">
    <script src="./../js/vue/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/v-switch-case@1.0.2/dist/v-switch.min.js"></script>
    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="./../style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script>
        Vue.use(VSwitch)
    </script>
</head>

<body>
<!-- ##### Preloader ##### -->
<div id="preloader">
    <i class="circle-preloader"></i>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">

    <!-- Top Header Area -->
    <div class="top-header">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <div class="header-content h-100 d-flex align-items-center justify-content-between">
                        <div class="academy-logo">
                            <a href="../index.html"><img src="../img/school-images/logo1.png" width="20%" alt=""></a>
                        </div>
                        <div class="login-content">
                            <!--<a href="#">Registrese</a> / <a href="#">Ingrese</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar Area -->
    <div class="academy-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->

                <nav class="classy-navbar justify-content-between" id="academyNav">

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <img src="../img/icons/inicio.png" width="2%" class="iconos-ocultos" alt="">
                                <li><a href="../index.html">Inicio</a></li>
                                <img src="./../img/icons/INSTITUCIONAL.png" alt="" class="iconos-ocultos" width="3%" style="margin-left: 2%; ">
                                <li><a href="../underConstruction.html"> Institucional</a></li>
                                <li><a href="#">Jornada escolar</a>
                                    <!--<div class="megamenu">-->
                                    <!--<ul class="single-mega cn-col-4">-->
                                    <!--<li><a href="#">Home</a></li>-->
                                    <!--<li><a href="#">Services &amp; Features</a></li>-->
                                    <!--<li><a href="#">Accordions and tabs</a></li>-->
                                    <!--<li><a href="#">Menu ideas</a></li>-->
                                    <!--<li><a href="#">Students Gallery</a></li>-->
                                    <!--</ul>-->
                                    <!-- <ul class="single-mega cn-col-4">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Services &amp; Features</a></li>
                                        <li><a href="#">Accordions and tabs</a></li>
                                        <li><a href="#">Menu ideas</a></li>
                                        <li><a href="#">Students Gallery</a></li>
                                    </ul>
                                    <ul class="single-mega cn-col-4">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Services &amp; Features</a></li>
                                        <li><a href="#">Accordions and tabs</a></li>
                                        <li><a href="#">Menu ideas</a></li>
                                        <li><a href="#">Students Gallery</a></li>
                                    </ul> -->
                                    <!--<div class="single-mega cn-col-4">-->
                                    <!--<img src="img/bg-img/bg-1.jpg" alt="">-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <ul class="dropdown">
                                        <li><a href="../underConstruction.html">Primaria</a></li>
                                        <li><a href="../underConstruction.html">Secundaria</a></li>
                                        <li><a href="../underConstruction.html">Complementaria</a></li>
                                        <li><a href="../underConstruction.html">Media técnica</a></li>
                                        <li><a href="../underConstruction.html">Preescolar</a></li>
                                    </ul>
                                </li>
                                <img src="./../img/icons/hombre-corriendo.png" alt="" class="iconos-ocultos" width="3%" style="margin-left: 2%; ">
                                <li><a href="#">Zona rápida</a>

                                    <ul class="dropdown">
                                        <li><a href="../voting.html">Votaciones</a></li>
                                        <li><a href="./../votingAdmin.html">Administrador</a></li>
                                        <li><a href="./../results.html">Resultados</a></li>

                                    </ul>




                                </li>

                                <!-- <li><a href="#">Primaria</a>
                                    <ul class="dropdown">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="course.html">Course</a></li>
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="template.html">Contact</a></li>
                                        <li><a href="elements.html">Elements</a></li>
                                    </ul>
                                </li> -->
                                <!--<li><a href="course.html">Course</a></li>-->
                                <img src="./../img/icons/contacto.png" alt="" class="iconos-ocultos" width="3%" style="margin-left: 2%; ">
                                <li><a href="../underConstruction.html">Contactenos</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>

                    <!-- Calling Info -->
                    <!--<div class="calling-info">-->
                    <!--<div class="call-center">-->
                    <!--<a href="tel:+654563325568889"><i class="icon-telephone-2"></i> <span>(+65) 456 332 5568 889</span></a>-->
                    <!--</div>-->
                    <!--</div>-->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Hero Area Start ##### -->

<!-- ##### Hero Area End ##### -->
<div>

    <div class="breadcumb-area bg-img" style="background-image: url(../img/school-images/slide.JPG);">
        <div class="bradcumbContent">
            <h2>Agregar articulos</h2>
        </div>
    </div>
    <!-- ##### Top Feature Area End ##### -->
    <div style="margin-top: 2%">

    </div>

    <section class="container" style="margin-bottom: 10%; margin-top: 10%">
        <!--Aqui incluye el contenido padre-->
        <div id="app">
            <form id="articles" v-on:submit.prevent="crear">
                <div class="form-group">
                    <label for="exampleInputEmail1">Titulo</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese un titulo" v-model="articulo.titulo">
                    <small id="emailHelp" class="form-text text-muted">Escoja un titulo llamativo</small>
                </div>
                <div class="form-group">
                    <label for="">Categoria articulo</label>
                    <select name="" class="form-control" id="" v-model="articulo.categoria">
                        <option value="1">Destacados</option>
                        <option value="2">Noticias</option>
                        <option value="3">Galería</option>
                        <option value="4">Mensaje</option>
                        <option value="5">Preescolar</option>
                        <option value="6">Primaria</option>
                        <option value="7">Secundaria</option>
                        <option value="8">Especialidad</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Ingrese la nota introductoria del articulo</label>
                    <textarea class="form-control" name="" id="nota" cols="30" rows="5" v-model="articulo.nota"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Ingrese el cuerpo o prefacio</label>
                    <textarea class="form-control" name="" id="prefacio" cols="30" rows="10" v-model="articulo.cuerpo"></textarea>
                </div>
                <div class="form-group">
                    <label for="">Ingrese la imagen del articulo</label>
                    <input type="file" accept="image/png"  class="form-control"  id="imagen" >
                </div>
                <div class="form-group">
                    <label for="">Ingrese video del articulo</label>
                    <input type="file" accept="video/mp4" class="form-control"  id="video">
                </div>


                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
            <br><br>
            <div class="bradcumbContent" style="text-align: center">
                <h2>Listado de articulos</h2>
            </div>

            <table class="table-responsive table-bordered" id="articulos">
                <thead>
                <tr>
                    <th scope="col"># Publicación</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Prefacio</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Video</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Opciones</th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="articulo in articulos">
                        <td width="5%">{{articulo.idpublicacion}}</td>
                        <td>{{articulo.titulo}}</td>
                        <td>{{articulo.prefacio}}</td>
                        <td width="20%"><img   v-bind:src="'./..' +articulo.imagen"></td>
                        <td>

                            <video  v-bind:src="'./..'+ articulo.video" controls id="videoC" style="width: 50%"></video>


                        </td>
                        <td v-switch="articulo.idcategoria">
                            <h5 v-case="'1'">Destacados</h5>
                            <h5 v-case="'2'">Noticias</h5>
                            <h5 v-case="'3'">Galeria</h5>
                            <h5 v-case="'4'">Mensaje</h5>
                            <h5 v-case="'5'">Preescolar</h5>
                            <h5 v-case="'6'">Primaria</h5>
                            <h5 v-case="'7'">Secundaria</h5>
                            <h5 v-case="'8'">Especialidad</h5>
                        </td>
                        <td>
                            <button @click="editar(articulo)" class="btn btn-warning" type="button">Editar</button>
                            <button @click="eliminar(articulo)" class="btn btn-danger" type="button">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>




    </section>

    <footer class="footer-area">
        <div class="main-footer-area section-padding-100-0">
            <div class="container">
                <div class="row">
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <a href=""><h3 STYLE="color: white;">Colegio ITEY</h3></a>
                            </div>
                            <p>Cras vitae turpis lacinia, lacinia lacus non, fermentum nisi. Donec et sollicitudin est, in euismod erat. Ut at erat et arcu pulvinar cursus a eget.</p>
                            <div class="footer-social-info">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <h6>Enlaces útiles</h6>
                            </div>
                            <nav>
                                <ul class="useful-links">
                                    <li><a href="#">Inicio</a></li>
                                    <li><a href="#">Servicios</a></li>
                                    <li><a href="#">Academico</a></li>
                                    <li><a href="#">Contacto</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <h6>Galería</h6>
                            </div>
                            <div class="gallery-list d-flex justify-content-between flex-wrap">
                                <a href="../img/bg-img/gallery1.jpg" class="gallery-img" title="Gallery Image 1"><img src="../img/bg-img/gallery1.jpg" alt=""></a>
                                <a href="../img/bg-img/gallery2.jpg" class="gallery-img" title="Gallery Image 2"><img src="../img/bg-img/gallery2.jpg" alt=""></a>
                                <a href="../img/bg-img/gallery3.jpg" class="gallery-img" title="Gallery Image 3"><img src="../img/bg-img/gallery3.jpg" alt=""></a>
                                <a href="../img/bg-img/gallery4.jpg" class="gallery-img" title="Gallery Image 4"><img src="../img/bg-img/gallery4.jpg" alt=""></a>
                                <a href="../img/bg-img/gallery5.jpg" class="gallery-img" title="Gallery Image 5"><img src="../img/bg-img/gallery5.jpg" alt=""></a>
                                <a href="../img/bg-img/gallery6.jpg" class="gallery-img" title="Gallery Image 6"><img src="../img/bg-img/gallery6.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <h6>Contacto</h6>
                            </div>
                            <div class="single-contact d-flex mb-30">
                                <i class="icon-placeholder"></i>
                                <p>Carrera 21 No 39 05</p>
                            </div>
                            <div class="single-contact d-flex mb-30">
                                <i class="icon-telephone-1"></i>
                                <p>Telefonos <br> 6343559</p>
                            </div>
                            <div class="single-contact d-flex">
                                <i class="icon-contract"></i>
                                <p>colegioitey@itey.edu.co</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="../js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="../js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="../js/active.js"></script>
    <script src="./../fun/uploadArticles/article.js"></script>
</body>
<style>
    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    }
    .embed-container iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
</html>